<p>
  <strong>Верхних мест:</strong>
  <%= @carriage.upper_seats %>
</p>

<p>
  <strong>Нижних мест:</strong>
  <%= @carriage.bottom_seats %>
</p>

<p>
  <strong>Боковых верхних мест:</strong>
  <%= @carriage.side_upper_seats %>
</p>

<p>
  <strong>Боковых нижних мест:</strong>
  <%= @carriage.side_bottom_seats %>
</p>
