<% @page_title = t '.title' %>

<div class="admin-stations">
  <table class="admin-stations_table">
    <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <%= render @railway_stations %>
    </tbody>
  </table>

  <div class="admin-stations_actions">
    <%= link_to t('.create'), new_admin_railway_station_path, class: 'admin-stations_new-button' %>
  </div>
</div>
