<% @page_title = 'Новая станция' %>

<div class="railway-station-new">
  <%= render 'form' %>

  <div class="railway-station-new_actions">
    <%= link_to 'К списку станций', admin_railway_stations_path, class: 'railway-station-new_back-button' %>
  </div>
</div>
