<% @page_title = t '.title' %>

<div class="railway-station-new">
  <%= render 'form' %>

  <div class="railway-station-new_actions">
    <%= link_to t('common.return_to_railway_stations'), admin_railway_stations_path, class: 'railway-station-new_back-button' %>
  </div>
</div>
