<% @page_title = "Изменить маршрут \"#{@route.name}\"" %>

<div class="admin-route-edit">
  <%= render 'form' %>

  <div class="admin-route-edit_actions">
    <%= link_to 'К списку маршрутов', admin_routes_path, class: 'admin-route-edit_back-button' %>
  </div>
</div>
