<% @page_title = 'Создать маршрут' %>

<div class="admin-route-new">
  <%= render 'form' %>

  <div class="admin-route-new_actions">
    <%= link_to 'К списку маршрутов', admin_routes_path, class: 'admin-route-new_back-button' %>
  </div>
</div>
