<% @page_title = t '.title' %>

<div class="admin-route-new">
  <%= render 'form' %>

  <div class="admin-route-new_actions">
    <%= link_to t('common.return_to_routes'), admin_routes_path, class: 'admin-route-new_back-button' %>
  </div>
</div>
