<% @page_title = t('.title', @train.number) %>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
      <%= link_to @train.route.name, route_path(@train.route) %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<% if @train.carriages.present? %>
    <%= render partial: 'carriages/carriage_as_list_item',
        collection: @train.carriages.ordered_by(@train.position_from_head),
        as: :carriage
    %>
<% else %>
    <p>
      <strong>Вагонов:</strong>
      нет
    </p>
<% end %>
