<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <%= render 'common/errors', resource: @user %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Сохранить' %>
    </div>
<% end %>
