<% @page_title = 'Редактировать пользователя' %>

<div class="user-edit">
  <%= render 'form' %>

  <div class="user-edit_actions">
    <%= link_to 'К списку пользователей', admin_users_path, class: 'user-edit_back-button' %>
    <%= link_to 'Смотреть', admin_user_path(@user), class: 'user-edit_show-button' %>
  </div>
</div>
