<h1><%= @user.full_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.tickets.present? %>
    <p>&nbsp;</p>
    <h3>Билеты</h3>

    <table>
      <thead>
      <th>Номер поезда</th>
      <th>Станция и время отправления</th>
      <th>Станция и время прибытия</th>
      </thead>
      <tbody>
        <%= render partial: 'tickets/ticket_as_table_row', collection: @user.tickets, as: :ticket %>
      </tbody>
    </table>
<% else %>
    <h3>У пользователя пока нет билетов</h3>
<% end %>

<%= link_to 'Редактировать профиль', edit_user_path(@user) %>
