<%= form_for(@ticket) do |f| %>
    <% if @ticket.errors.any? %>
        <%= render 'common/errors', resource: @ticket %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Сохранить' %>
    </div>
<% end %>
