<% @page_title = "Вагон №#{@carriage.id}" %>

<p>
  <strong>Тип:</strong>
  <%= @carriage.type_name %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @carriage.train.present? %>
      <%= link_to @carriage.train.number, @carriage.train %>
  <% else %>
      Не прицеплен к поезду
  <% end %>
</p>

<% if @carriage.train.present? %>
    <p>
      <strong>Номер в составе:</strong>
      <%= @carriage.position %>
    </p>
<% end %>

<%= render "carriages/#{class_snake_case}_fields" %>
