<tr>
  <td class="position"><%= railway_station.station_route(@route).position %></td>

  <td class="name"><%= railway_station.name %></td>

  <td class="arrive-datetime">
    <% if railway_station.station_route(@route).arrival_datetime %>
        <%= railway_station.station_route(@route).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
    <% else %>
      --
    <% end %>
  </td>

  <td class="departure-datetime">
    <% if railway_station.station_route(@route).departure_datetime %>
        <%= railway_station.station_route(@route).departure_datetime.strftime('%d.%m.%Y %H:%M') %>
    <% else %>
        --
    <% end %>
  </td>
</tr>
