<p>
  <strong><%= Carriage.human_attribute_name(:upper_seats) %>:</strong>
  <%= @carriage.upper_seats %>
</p>

<p>
  <strong><%= Carriage.human_attribute_name(:bottom_seats) %>:</strong>
  <%= @carriage.bottom_seats %>
</p>
