<% @page_title = 'Редактирование вагона' %>

<div class="admin-carriage-edit">
  <%= render partial: 'form', locals: { class_name: class_name } %>

  <div class="admin-carriage-edit_actions">
    <%= link_to 'К списку вагонов', admin_train_carriages_path(@carriage.train), class: 'admin-carriage-edit_back-button' %>
    <%= link_to 'Смотреть', admin_carriage_path(@carriage), class: 'admin-carriage-edit_show-button' %>
  </div>
</div>
