<% @page_title = 'Новый вагон' %>

<div class="admin-carriage-new">
  <%= render 'form' %>

  <div class="admin-carriage-new_actions">
    <%= link_to 'К списку вагонов', admin_train_carriages_path(@train), class: 'admin-carriage-new_back-button' %>
  </div>
</div>
