<h1>Список маршрутов</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= link_to 'Смотреть', route_path(route) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
