<% @page_title = t '.title' %>

<table>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= link_to t('common.show'), route_path(route) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
