<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Поезда на этом маршруте:</strong>
  <% if @route.trains.present? %>
    <ul>
      <%= render partial: 'trains/train_as_list_item', collection: @route.trains, as: :train %>
    </ul>
<% else %>
    Поездов на маршруте нет
<% end %>
</p>

<p>
  <strong>Станции этого маршрута:</strong>
  <% if @route.railway_stations.present? %>
    <table class="route-stations">
      <thead>
      <th>Позиция</th>
      <th>Название</th>
      <th>Время прибытия</th>
      <th>Время отправления</th>
      </thead>
      <tbody>
      <%= render partial: 'railway_stations/railway_station_as_table_row',
          collection: @route.railway_stations.ordered,
          as: :railway_station %>
      </tbody>
    </table>
<% else %>
    Станций в маршруте нет
<% end %>
</p>
