<% @page_title = 'Редактирование поезда' %>

<div class="admin-train-edit">
  <%= render 'form' %>

  <div class="admin-train-edit_actions">
    <%= link_to 'К списку поездов', admin_trains_path, class: 'admin-train-edit_back-button' %>
    <%= link_to 'Смотреть', admin_train_path(@train), class: 'admin-train-edit_show-button' %>
  </div>
</div>
