<% @page_title = t '.title' %>

<div class="admin-train-index">
  <table class="admin-train-index_table">
    <thead>
    <tr>
      <th><%= Train.human_attribute_name(:number) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <%= render @trains %>
    </tbody>
  </table>

  <div class="admin-train-index_actions">
    <%= link_to t('.new'), new_admin_train_path, class: 'admin-train-index_new-button' %>
  </div>
</div>
