<% @page_title = 'Список поездов' %>

<div class="admin-train-index">
  <table class="admin-train-index_table">
    <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <%= render @trains %>
    </tbody>
  </table>

  <div class="admin-train-index_actions">
    <%= link_to 'Создать новый поезд', new_admin_train_path, class: 'admin-train-index_new-button' %>
  </div>
</div>
