<% @page_title = t ('.title') %>

<div class="admin-trains-new">
  <%= render 'form' %>

  <div class="admin-trains-new_actions">
    <%= link_to t('common.return_to_trains'), admin_trains_path, class: 'admin-trains-new_back-button' %>
  </div>
</div>
