<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение вашего пароля. Вы можете сделать это перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали изменение пароля, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменён если вы не перейдёте по ссылке выше и не установите новый.</p>
