<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за большого числа неудачных попыток входа.</p>

<p>Чтобы разблокировать свой аккаунт перейдите по ссылке ниже.</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
