<% @page_title = "Редактирование пользователя \"#{@user.full_name}\"" %>

<div class="admin-user-edit">
  <%= render 'form' %>

  <div class="admin-user-edit_actions">
    <%= link_to 'К списку пользователей', admin_users_path, class: 'admin-user-edit_back-button' %>
    <%= link_to 'Смотреть', admin_user_path(@user), class: 'admin-user-edit_show-button' %>
  </div>
</div>
