<% @page_title = "Пользователь \"#{@user.full_name}\"" %>

<div class="admin-user-show">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <% if @user.tickets.present? %>
      <h3>Билеты</h3>

      <table class="admin-user-show_tickets-table">
        <thead>
        <th>Номер поезда</th>
        <th>Станция и время отправления</th>
        <th>Станция и время прибытия</th>
        </thead>
        <tbody>
          <%= render partial: 'admin/tickets/ticket_as_table_row', collection: @user.tickets, as: :ticket %>
        </tbody>
      </table>
  <% else %>
      <h3>У пользователя пока нет билетов</h3>
  <% end %>

  <div class="admin-user-show_actions">
    <%= link_to 'К списку пользователей', admin_users_path, class: 'admin-user-show_back-button' %>
    <%= link_to 'Редактировать', edit_admin_user_path(@user), class: 'admin-user-show_edit-button' %>
  </div>
</div>
