<div class="errors">
  <h4 class="errors_header">Следующие ошибки помешали сохранению:</h4>

  <ul class="errors_list errors-list">
    <% resource.errors.full_messages.each do |message| %>
        <li class="errors-list_item"><%= message %></li>
    <% end %>
  </ul>
</div>
