<div class="errors">
  <h4 class="errors_header"><%= t 'common.errors_header' %>:</h4>

  <ul class="errors_list errors-list">
    <% resource.errors.messages.each_value do |field_messages| %>
        <% field_messages.each do |message| %>
          <li class="errors-list_item"><%= message %></li>
      <% end %>
    <% end %>
  </ul>
</div>
