<footer class="footer">
  <div class="footer_wrapper">
    <%= raw(t('common.footer_copyright', year: Time.new.year, link_to_thinknetica: link_to('онлайн-школе Thinknetica', 'http://www.thinknetica.com/', target: '_blank'))) %>
  </div>
</footer>
