<% if flash.notice || flash.alert %>
    <div class="notice-panel">
      <div class="notice-panel_wrapper">
        <% if flash.notice %>
            <%= render partial: 'common/notice_message', locals: { message: flash.notice } %>
        <% end %>

        <% if flash.alert %>
            <%= render partial: 'common/error_message', collection: flash.alert, as: :message %>
        <% end %>
      </div>
    </div>
<% end %>
